@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}


.btn{
    padding: 10px 15px;
    display: block;
    margin: auto;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 4px 16px rgba(0,0,0,.16);
    font-size: 16px;
    min-width: 140px;
    &:focus-visible{
        outline: none;
    }
}

.btn_green{
    background: #00be63;
    color:white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.icon{
    stroke: white;
    margin-right: 5px;
    width: 20px;
    height: auto;
}